.App {
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.author-quotes-container {
  width: 60%;
  margin: 4rem auto 0;
}

.author-quotes-container div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
}

.author-quotes-container h1 {
  font-weight: bold;
  font-size: 2.25rem;

  margin-left: 6.2rem;

  color: #333333;
}

footer {
  text-align: center;
  font-weight: 600;
  font-size: 0, 875rem;

  padding-bottom: 1rem;

  color: #a9a9a9;
}

footer.margin {
  margin-top: 10rem;
}

@media (max-width: 736px) {
  .author-quotes-container {
    width: 95%;
  }

  .author-quotes-container h1 {
    margin-left: 0;
  }
}
